<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Gods & Goddesses</title>
</head>
<body>
    <div class="container">

        <!-- As a heading -->
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1"></span>
        </nav>

        <div class="row">
            <div class="col">
                <h1 class="text-center">Welcome to Gods & Goddesses</h1>
                <p>Tired of being immortal? Well tire no more! This is your stop to meet other immortals residing in Olympia and even in the Underworld!</p>


                <h3 class="text-center">Lorem Ipsum</h3>
                <hr>
                <p><em>More Lorem Ipsum More Lorem Ipsum More Lorem Ipsum More Lorem Ipsum</em></p>
                <hr>
            </div>
            <div class="col">
                <img src="images/dating.jpg" class="rounded-lg">
            </div>
        </div>

    </div>
</body>
</html>