<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gods & Goddesses | Interests</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <br>
        <h1>Interests</h1>
        <hr>
            <form>
                <div class="row">
                    <!-- column 1 -->
                    <div class="col">
                        <p><strong>Indoor Interests</strong></p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="tv" value="tv">
                            <label class="form-check-label" for="tv">tv</label>
                        </div>
                        <div class="form-check ">
                            <input class="form-check-input" type="checkbox" id="puzzles" value="puzzles">
                            <label class="form-check-label" for="puzzles">puzzles</label>
                        </div>

                        <br>

                        <p><strong>Outdoor Interests</strong></p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="hiking" value="tv">
                            <label class="form-check-label" for="hiking">hiking</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="walking" value="walking">
                            <label class="form-check-label" for="walking">walking</label>
                        </div>
                    </div>

                    <!-- column 2 -->
                    <div class="col">
                        <p><br></p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="movies" value="movies">
                            <label class="form-check-label" for="movies">movies</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="reading" value="reading">
                            <label class="form-check-label" for="reading">reading</label>
                        </div>

                        <p><br><br></p>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="biking" value="biking">
                            <label class="form-check-label" for="biking">biking</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="climbing" value="climbing">
                            <label class="form-check-label" for="climbing">climbing</label>
                        </div>
                    </div>

                    <!-- column 3 -->
                    <div class="col">
                        <p><br></p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="cooking" value="cooking">
                            <label class="form-check-label" for="cooking">cooking</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="cards" value="cards">
                            <label class="form-check-label" for="cards">playing cards</label>
                        </div>

                        <p><br><br></p>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="swimming" value="swimming">
                            <label class="form-check-label" for="swimming">swimming</label>
                        </div>
                    </div>

                    <!-- column 4 -->
                    <div class="col">
                        <p><br></p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="boardgames" value="boardgames">
                            <label class="form-check-label" for="boardgames">board games</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="videogames" value="videogames">
                            <label class="form-check-label" for="videogames">video games</label>
                        </div>

                        <p><br><br></p>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="collecting" value="collecting">
                            <label class="form-check-label" for="collecting">collecting</label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="text-right">
                <a href="personal"><button class="btn btn-info" type="submit" >Next</button></a>
            </div>
    </div>
</body>
</html>