<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gods & Goddesses | Personal Info</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <br>
        <h1>Personal Information</h1>
        <hr>
        <br>

        <form>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="fName"><strong>First name</strong></label>
                        <input type="text" class="form-control" id="fName" placeholder="Enter first name">
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="lName"><strong>Last name</strong></label>
                        <input type="text" class="form-control" id="lName" placeholder="Enter last name">
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="age"><strong>Age</strong></label>
                        <input type="text" class="form-control" id="age" placeholder="Enter age">
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="gender"><strong>Gender</strong></label><br>
                        <input class="form-group" type="radio" name="gender" id="gender" value="male">
                        <label class="form-group" for="gender">Male</label>
                        <br><br>
                    </div>
                    <div class="form-group">
                        <label for="number"><strong>Phone Number</strong></label>
                        <input type="text" class="form-control" id="number" placeholder="Enter phone number">
                        <br>
                    </div>
                </div>
                <div class="col-md-4">
                    <p>Note: All information entered is protected by our privacy policy. Profile information can only be viewed by others with your permission</p>

                </div>
            </div>
        </form>
        <div class="text-right">
            <a href="personal"><button class="btn btn-info" type="submit" >Next</button></a>
        </div>
    </div>



</body>
</html>