<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gods & Goddesses | Profile</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <br>
        <h1>Profile</h1>
        <hr>

        <form>
            <div class="row">
                <div class="col">

                    <div class="form-group">
                        <label for="email"><strong>Email</strong></label>
                        <input type="text" class="form-control" id="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <label for="state"><strong>State</strong></label>
                        <select class="form-control" id="state">
                            <option>Olympus</option>
                            <option>Underworld</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="seeking"><strong>Seeking</strong></label><br>
                        <input type="radio" id="seeking" value="god">
                        <label for="seeking">God &nbsp&nbsp</label>
                        <input type="radio" id="seeking" value="goddess">
                        <label for="seeking">Goddess</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="biography"><strong>Biography</strong></label><br>
                        <textarea class="form-group" id="biography" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <div class="text-right">
            <a href="personal"><button class="btn btn-info" type="submit" >Next</button></a>
        </div>
    </div>
</body>
</html>